@model IEnumerable<Assignment2.Models.products>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
</head>
<body>
    <div class="container">

        <h1>Products</h1>
        <ul>
            @if (Model != null)
            {
                foreach (var product in Model)
                {
                    <li>
                        @product.Id - @product.Name (@product.Description)
                    </li>
                }
            }
            else
            {
                <p>No products found.</p>
            }
        </ul>
    </div>
</body>
</html>
